.dula-list {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.dula-list * {
  box-sizing: border-box;
}
.dula-list input:disabled, .dula-list select:disabled {
  background: #eee;
  cursor: not-allowed;
}
.dula-list button, .dula-list select {
  line-height: 1.42857143;
  font-family: inherit;
}
.dula-list .list-box {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-self: stretch;
}
.dula-list .list-box .search-bar {
  margin-bottom: 5px;
}
.dula-list .list-box select {
  min-height: 150px;
}
.dula-list .list-box .list-filter, .dula-list .list-box .list-control {
  display: block;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px 12px;
  width: 100%;
  color: #333;
  font-size: 14px;
}
.dula-list .list-box .list-filter {
  margin-bottom: 10px;
}
.dula-list .center-toolbar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 0 10px;
}
.dula-list .center-toolbar .move-left, .dula-list .center-toolbar .move-right {
  display: flex;
  flex-direction: column;
}
.dula-list .center-toolbar .move-right {
  margin-bottom: 10px;
}
.dula-list .right-toolbar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 0 10px;
}
.dula-list .right-toolbar .move-top, .dula-list .right-toolbar .move-bottom {
  display: flex;
  flex-direction: column;
}
.dula-list .right-toolbar .move-top {
  margin-bottom: 10px;
}
.dula-list .btn-move {
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  color: #333;
  font-size: 12px;
}
.dula-list .btn-move:active:not(:disabled), .dula-list .btn-move:focus:not(:disabled) {
  border-color: #8c8c8c;
  background: #e6e6e6;
}
.dula-list .btn-move:focus:not(:disabled) {
  outline: thin dotted;
  outline-offset: -2px;
}
.dula-list .btn-move:hover:not(:disabled) {
  border-color: #adadad;
  background: #e6e6e6;
}
.dula-list .btn-move:disabled {
  opacity: .5;
  cursor: not-allowed;
}
.dula-list .btn-move:last-child {
  margin-bottom: 0;
}
.dula-list .btn-move i {
  margin: 0 -1px;
}
.dula-list .list-container {
  display: flex;
  flex: 1 0 auto;
}
.dula-list .list-label {
  position: absolute;
  clip: rect(0 0 0 0);
}
.dula-list .list-control {
  flex: 1 0 auto;
}
.dula-list .list-control optgroup {
  font: inherit;
  font-weight: 700;
}
